.delete{
    float: right;
    background-color: rgb(13, 91, 128);
    border-style: none;
    padding: 3px 6px;
    font-weight: bold;
    font-size: 14px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    text-align: center;
  }
  
  table { 
    border-collapse: collapse; 
    margin-top: 15px;
  }
  
  tr.border_bottom td {
    border-bottom:1pt solid black;
  }
  
  .colored {
    color: rgb(20, 43, 85);
    font-weight: bold;
  }
  
  
  .delete:hover{
    background-color: rgb(14, 167, 194);
  }
  
  .contacts {
    text-align: center;
    margin: auto;
    width: fit-content;
    padding-top: 20px;
    
  }